<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head(page_title='Вход')}"></head>
<body>
<div th:replace="~{base :: body_block(body_title='Вход', body_content=~{:: content})}"></div>
<div th:remove="all">
  <div th:fragment="content">
    <h3>Вход возможен по нику или по Email</h3>
    <p th:if="${param.error}">Неверные данные или вы неактивировали аккаунт</p>
    <div class="container-center container-1" th:insert="~{fragments/forms :: form_block(
    form_action='/accounts/login/process/',
    form_object='form',
    submit_value='Войти',
    fields=${ {
      {'Ник', 'username', 'row_text'},
      {'Email', 'email', 'row_text'},
      {'Пароль', 'password', 'row_pswd'}
    } }
    )}"></div>
  </div>
</div>
</body>
</html>