<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head(pageTitle='Настройки')}"></head>
<body>
<div th:replace="~{base :: bodyBlock(bodyTitle='Настройки', bodyContent=~{:: content})}"></div>
<div th:remove="all">
    <div th:fragment="content">
        <form method="post" th:object="${form}">
            <div th:replace="~{fragments/forms :: csrfToken}"></div>
            <div class="row">
                <div class="container-1 cell">
                    <h3>Персональная информация</h3>
                    <table>
                        <div th:replace="~{fragments/forms :: rowText(fieldLabel='Имя', fieldName='firstName', level=1, required=true, icon=@{/img/field_types/str.png})}"></div>
                        <div th:replace="~{fragments/forms :: rowText(fieldLabel='Фамилия', fieldName='lastName', level=1, required=true, icon=@{/img/field_types/str.png})}"></div>
                    </table>
                </div>
                <div class="container-1 cell">
                    <h3>Тема</h3>
                    <table>
                        <div th:replace="~{fragments/forms :: rowSelect(fieldLabel='Цвет', fieldName='color', level=1, options=${ {
                        {'DEFAULT', 'По умолчанию'},
                        {'GREEN', 'Зеленый'},
                        {'YELLOW', 'Желтый'},
                        {'LIGHT_BLUE', 'Голубой'},
                        {'RED', 'Красный'},
                        {'PURPLE', 'Фиолетовый'},
                        {'ORANGE', 'Оранжевый'}
                        } }, icon=@{/img/appereance/color.png})}"></div>
                        <div th:replace="~{fragments/forms :: rowSelect(fieldLabel='Мод', fieldName='mode', level=1, options=${ {
                        {'LIGHT', 'Светлая'},
                        {'DARK', 'Темная'}
                        } }, icon=@{/img/appereance/theme.png})}"></div>
                        <div th:replace="~{fragments/forms :: rowSelect(fieldLabel='Колоризация', fieldName='colorization', level=1, options=${ {
                        {'FULL', 'Полная'},
                        {'PART', 'Частичная'}
                        } }, icon=@{/img/appereance/color.png})}"></div>
                    </table>
                </div>
            </div>
            <div th:replace="~{fragments/forms :: formButtons(submitValue='Сохранить')}"></div>
        </form>
    </div>
</div>
</body>
</html>