<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head(page_title=${username})}"></head>
<body>
<div th:replace="~{base :: body_block(body_title='Профиль', body_content=~{:: content})}"></div>
<div th:remove="all">
  <div th:fragment="content">
    <div class="container-1">
      <h3>Персональная информация</h3>
      <table>
        <tbody>
        <tr>
          <td>Ник:</td>
          <td th:text="${username}" class="info-field-1"></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td th:text="${email}" class="info-field-1"></td>
        </tr>
        <tr>
          <td>Имя:</td>
          <td th:text="${first_name}" class="info-field-1"></td>
        </tr>
        <tr>
          <td>Фамилия:</td>
          <td th:text="${last_name}" class="info-field-1"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="cell">
        <a class="btn-action">Сменить пароль</a>
      </div>
      <div class="cell">
        <a class="btn-action" th:href="@{/accounts/profile/settings/}">
          <img th:src="@{/img/editing/settings.png/}" class="icon">
          <text>Настройки</text>
        </a>
      </div>
    </div>
  </div>
</div>
</body>
</html>