@import "vars.scss";
@import "containers.scss";

.nav {
    padding: $pad 0;
    list-style-type: none;
    width: 100vw;
    background-color: var(--c-nav-background);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    @extend .vertical-center;
    border-radius: 0 0 $radius $radius;
    & .nav-item {
        display: inline-block;
    }
}