<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{base :: head(page_title='Регистрация')}"></head>
    <body>
        <div th:replace="~{base :: body_block(body_title='Регистрация прошла успешно', body_content=~{:: content})}"></div>
        <div th:remove="all">
            <div th:fragment="content">
                <h2>Чтобы воспользоваться сервисом перейдите по ссылке, которая отправлена на введенную почту</h2>
            </div>
        </div>
    </body>
</html>