<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{base :: head(page_title='Регистрация')}"></head>
  <body>
    <div th:replace="~{base :: body_block(body_title='Регистрация', body_content=~{:: content})}"></div>
      <div th:remove="all">
        <div th:fragment="content">

          <div class="container-center container-1">
            <form method="post" th:object="${form}">
              <div th:replace="~{fragments/forms :: csrf_token}"></div>
              <table>
                <div th:replace="~{fragments/forms :: row_text(field_label='Ник', field_name='username', level=1)}"></div>
                <div th:replace="~{fragments/forms :: row_text(field_label='Email', field_name='email', level=1)}"></div>
                <div th:replace="~{fragments/forms :: row_text(field_label='Имя', field_name='first_name', level=1)}"></div>
                <div th:replace="~{fragments/forms :: row_text(field_label='Фамилия', field_name='last_name', level=1)}"></div>
                <div th:replace="~{fragments/forms :: row_pswd(field_label='Пароль', field_name='password', level=1)}"></div>
                <div th:replace="~{fragments/forms :: row_pswd(field_label='Введите пароль еще раз', field_name='confirm_password', level=1)}"></div>

                <div th:replace="~{fragments/forms :: all_errors(level=1)}"></div>

                <div th:replace="~{fragments/forms :: form_buttons(submit_value='Войти', level=1)}"></div>
              </table>
            </form>
          </div>

        </div>
      </div>
  </body>
</html>