<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{base :: head(page_title='Регистрация')}"></head>
  <body>
    <div th:replace="~{base :: body_block(body_title='Регистрация', body_content=~{:: content})}"></div>
      <div th:remove="all">
        <div th:fragment="content">

          <div class="container-1 container-center" th:insert="~{fragments/forms :: form_block(
          form_action='',
          form_object='form',
          submit_value='Зарегистрироваться',
          fields=${ {
            {'Ник', 'username', 'row_text'},
            {'Email', 'email', 'row_text'},
            {'Имя', 'first_name', 'row_text'},
            {'Фамилия', 'last_name', 'row_text'},
            {'Пароль', 'password', 'row_pswd'},
            {'Введите пароль еще раз', 'confirm_password', 'row_pswd'}
          } }
          )}"></div>

        </div>
      </div>
  </body>
</html>