<!--
  submitValue: String
  level: int
-->
<tr th:fragment="formButtons">
  <td class="btn-center"><input type="submit" th:value="${submitValue}" th:classappend="${level} == 1 ? 'btn-action-on-1' : 'btn-action'"></td>
  <td class="btn-center"><input type="reset" value="Очистить" th:classappend="${level} == 1 ? 'btn-action-on-1' : 'btn-action'"></td>
</tr>
<!--
  fieldName: String
  fieldLabel: String
  helpText: Optional<String>
  required: Optional<boolean>
  icon: String
-->
<th:block th:fragment="rowText">
  <tr>
    <td th:text="${fieldLabel}"></td>
    <td class="vertical-center">
      <img th:src="${icon}" class="icon">
      <input th:field="*{__${fieldName}__}" type="text" th:placeholder="${fieldLabel}">
    </td>
  </tr>
  <tr th:if="${required != null}"><td colspan="2" class="help-text">* Обязательно</td></tr>
  <tr th:if="${helpText != null}"><td colspan="2" class="help-text" th:text="${helpText}"></td></tr>
  <tr><td colspan="2" th:classappend="${level} == 1 ? 'error-on-1' : 'error-on-2'" th:if="${#fields.hasErrors(fieldName)}" th:errors="*{__${fieldName}__}"></td></tr>
</th:block>

<th:block th:fragment="colText">
  <tr><td colspan="2" class="vertical-center">
    <text th:text="${fieldLabel}"></text>
    <img th:src="${icon}" class="icon">
  </td></tr>
  <tr><td colspan="2"><textarea th:field="*{__${fieldName}__}" rows="4" cols="40" th:placeholder="${fieldLabel}"></textarea></td></tr>
  <tr th:if="${required != null}"><td colspan="2" class="help-text">* Обязательно</td></tr>
  <tr th:if="${helpText != null}"><td colspan="2" class="help-text" th:text="${helpText}"></td></tr>
  <tr><td colspan="2" th:classappend="${level} == 1 ? 'error-on-1' : 'error-on-2'" th:if="${#fields.hasErrors(fieldName)}" th:errors="*{__${fieldName}__}"></td></tr>
</th:block>

<th:block th:fragment="rowPswd">
  <tr>
    <td th:text="${fieldLabel}"></td>
    <td class="vertical-center">
      <img th:src="${icon}" class="icon">
      <input th:field="*{__${fieldName}__}" type="password" th:placeholder="${fieldLabel}">
    </td>
  </tr>
  <tr th:if="${required != null}"><td colspan="2" class="help-text">* Обязательно</td></tr>
  <tr th:if="${helpText != null}"><td colspan="2" class="help-text" th:text="${helpText}"></td></tr>
  <tr><td colspan="2" th:classappend="${level} == 1 ? 'error-on-1' : 'error-on-2'" th:if="${#fields.hasErrors(fieldName)}" th:errors="*{__${fieldName}__}"></td></tr>
</th:block>

<th:block th:fragment="rowSelect">
  <tr>
    <td th:text="${fieldLabel}"></td>
    <td class="vertical-center">
      <img th:src="${icon}" class="icon">
      <select th:field="*{__${fieldName}__}">
        <th:block th:each="option : ${options}">
          <option th:value="${option[0]}" th:text="${option[1]}"></option>
        </th:block>
    </select></td>
  </tr>
  <tr th:if="${required != null}"><td colspan="2" class="help-text">* Обязательно</td></tr>
  <tr th:if="${helpText != null}"><td colspan="2" class="help-text" th:text="${helpText}"></td></tr>
  <tr><td colspan="2" th:classappend="${level} == 1 ? 'error-on-1' : 'error-on-2'" th:if="${#fields.hasErrors(fieldName)}" th:errors="*{__${fieldName}__}"></td></tr>
</th:block>
<!--

-->
<th:block th:fragment="csrfToken">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
  <input type="hidden" th:name="_csrf_header" th:value="${_csrf.headerName}"/>
</th:block>
<!--
  formAction: Optional<String>
  submitValue: String
-->
<form method="post" th:fragment="buttonForm" th:action="${formAction}">
  <div th:replace="~{:: csrfToken}"></div>
  <input type="submit" th:value="${submitValue}" class="btn-action">
</form>
<!--
  level: int
-->
<tr th:if="${#fields.hasGlobalErrors()}" th:fragment="allErrors" th:each="err : ${#fields.globalErrors()}"><td colspan="2" th:text="${err}" th:classappend="${level} == 1 ? 'error-on-1' : 'error-on-2'"></td></tr>