<!--
  submit_value: String
  level: int
-->
<tr th:fragment="form_buttons">
  <td class="btn-center"><input type="submit" th:value="${submit_value}" th:classappend="${level} == 1 ? 'btn-action-on-1' : 'btn-action'"></td>
  <td class="btn-center"><input type="reset" value="Очистить" th:classappend="${level} == 1 ? 'btn-action-on-1' : 'btn-action'"></td>
</tr>
<!--
  field_name: String
  field_label: String
  help_text: Optional<String>
  required: Optional<boolean>
  icon: String
-->
<th:block th:fragment="row_text">
  <tr>
    <td th:text="${field_label}"></td>
    <td class="vertical-center">
      <img th:src="${icon}" class="icon">
      <input th:field="*{__${field_name}__}" type="text" th:placeholder="${field_label}">
    </td>
  </tr>
  <tr th:if="${required != null}"><td colspan="2" class="help-text">* Обязательно</td></tr>
  <tr th:if="${help_text != null}"><td colspan="2" class="help-text" th:text="${help_text}"></td></tr>
  <tr><td colspan="2" th:classappend="${level} == 1 ? 'error-on-1' : 'error-on-2'" th:if="${#fields.hasErrors(field_name)}" th:errors="*{__${field_name}__}"></td></tr>
</th:block>

<th:block th:fragment="col_text">
  <tr><td colspan="2" class="vertical-center">
    <text th:text="${field_label}"></text>
    <img th:src="${icon}" class="icon">
  </td></tr>
  <tr><td colspan="2"><textarea th:field="*{__${field_name}__}" rows="4" cols="40" th:placeholder="${field_label}"></textarea></td></tr>
  <tr th:if="${required != null}"><td colspan="2" class="help-text">* Обязательно</td></tr>
  <tr th:if="${help_text != null}"><td colspan="2" class="help-text" th:text="${help_text}"></td></tr>
  <tr><td colspan="2" th:classappend="${level} == 1 ? 'error-on-1' : 'error-on-2'" th:if="${#fields.hasErrors(field_name)}" th:errors="*{__${field_name}__}"></td></tr>
</th:block>

<th:block th:fragment="row_pswd">
  <tr>
    <td th:text="${field_label}"></td>
    <td class="vertical-center">
      <img th:src="${icon}" class="icon">
      <input th:field="*{__${field_name}__}" type="password" th:placeholder="${field_label}">
    </td>
  </tr>
  <tr th:if="${required != null}"><td colspan="2" class="help-text">* Обязательно</td></tr>
  <tr th:if="${help_text != null}"><td colspan="2" class="help-text" th:text="${help_text}"></td></tr>
  <tr><td colspan="2" th:classappend="${level} == 1 ? 'error-on-1' : 'error-on-2'" th:if="${#fields.hasErrors(field_name)}" th:errors="*{__${field_name}__}"></td></tr>
</th:block>

<th:block th:fragment="row_select">
  <tr>
    <td th:text="${field_label}"></td>
    <td class="vertical-center">
      <img th:src="${icon}" class="icon">
      <select th:field="*{__${field_name}__}">
        <th:block th:each="option : ${options}">
          <option th:value="${option[0]}" th:text="${option[1]}"></option>
        </th:block>
    </select></td>
  </tr>
  <tr th:if="${required != null}"><td colspan="2" class="help-text">* Обязательно</td></tr>
  <tr th:if="${help_text != null}"><td colspan="2" class="help-text" th:text="${help_text}"></td></tr>
  <tr><td colspan="2" th:classappend="${level} == 1 ? 'error-on-1' : 'error-on-2'" th:if="${#fields.hasErrors(field_name)}" th:errors="*{__${field_name}__}"></td></tr>
</th:block>
<!--

-->
<input th:fragment="csrf_token" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<!--
  form_action: Optional<String>
  submit_value: String
-->
<form method="post" th:fragment="button_form" th:action="${form_action}">
  <div th:replace="~{:: csrf_token}"></div>
  <input type="submit" th:value="${submit_value}" class="btn-action">
</form>
<!--
  level: int
-->
<tr th:if="${#fields.hasGlobalErrors()}" th:fragment="all_errors" th:each="err : ${#fields.globalErrors()}"><td colspan="2" th:text="${err}" th:classappend="${level} == 1 ? 'error-on-1' : 'error-on-2'"></td></tr>