<nav th:fragment="header" class="nav" xmlns:sec="http://www.w3.org/1999/xhtml">
    <li class="nav-item">
        <a class="btn-nav" th:href="@{/}">Главная</a>
    </li>
    <li class="nav-item">
        <a class="btn-nav" href="">Версии</a>
    </li>
    [[${#authenctication}]]
    <th:block th:if="${#authentication != null && #authentication.getPrincipal() != 'anonymousUser'}">
        <li class="nav-item">
            <a class="btn-nav" href="">Проекты</a>
        </li>
        <li class="nav-item">
            <a class="btn-nav" href="">Профиль: [[${#authentication.getPrincipal()}]]</a>
        </li>
        <li class="nav-item">
            <a class="btn-auth" th:href="@{/accounts/logout/}">Выход</a>
        </li>
    </th:block>
    <th:block th:unless="${#authentication != null && #authentication.getPrincipal() != 'anonymousUser'}">
        <li class="nav-item">
            <a class="btn-auth" th:href="@{/accounts/login/}">Вход</a>
        </li>
        <li class="nav-item">
            <a class="btn-auth" th:href="@{/accounts/registration/}">Регистрация</a>
        </li>
    </th:block>
</nav>