<nav th:fragment="header" class="nav">
    <li class="nav-item">
        <div class="logo">
            <a th:href="@{/}"><img th:src="@{/img/logo.png}" height="50px"></a>
        </div>
    </li>
    <li class="nav-item">
        <a class="btn-nav" href="">
            <img th:src="@{/img/versions/version.png}" class="icon">
            <text>Версии</text>
        </a>
    </li>
    <th:block th:if="${#authentication != null && #authentication.getPrincipal() != 'anonymousUser'}">
        <li class="nav-item">
            <a class="btn-nav" th:href="@{/projects/list/my/}">
                <img th:src="@{/img/project/project.png/}" class="icon">
                <text>Проекты</text>
            </a>
        </li>
        <li class="nav-item">
            <a class="btn-nav" th:href="@{/accounts/profile/}">
                <img th:src="@{/img/accounts/profile.png/}" class="icon">
                <text>Профиль: [[${#authentication.getPrincipal().getUsername()}]]</text>
            </a>
        </li>
        <li class="nav-item">
            <a class="btn-auth" th:href="@{/accounts/logout/}">
                <img th:src="@{/img/accounts/logout.png/}" class="icon">
                <text>Выход</text>
            </a>
        </li>
    </th:block>
    <th:block th:unless="${#authentication != null && #authentication.getPrincipal() != 'anonymousUser'}">
        <li class="nav-item">
            <a class="btn-auth" th:href="@{/accounts/login/}">
                <img th:src="@{/img/accounts/login.png/}" class="icon">
                <text>Вход</text>
            </a>
        </li>
        <li class="nav-item">
            <a class="btn-auth" th:href="@{/accounts/registration/}">Регистрация</a>
        </li>
    </th:block>
</nav>