<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <title th:text="${pageTitle}"></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/logo.png}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:src="@{/js/scripts.js}" type="module"></script>
  </head>
  <body>

  <div th:fragment="bodyBlock" th:classappend="${#authentication != null && #authentication.getPrincipal() != 'anonymousUser'} ? (
${#authentication.getPrincipal().getColor() + ' ' + #authentication.getPrincipal().getMode() + ' ' + #authentication.getPrincipal().getColorization()}
  ) : 'LIGHT FULL DEFAULT'">

    <div th:replace="~{fragments/header :: header}"></div>

    <div style="padding: 80px 20px 0 20px">

      <h1 class="header-m-o" th:if="${bodyTitle != null}" th:text="${bodyTitle}"></h1>

      <div th:replace="${bodyContent}"></div>

    </div>
  </div>

  </body>
</html>