<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head(pageTitle=${'Новый участник'})}"></head>
<body>
<div th:replace="~{base :: bodyBlock(bodyTitle=${'Новый участник в проект ' + projectName}, bodyContent=~{:: content})}"></div>
<div th:remove="all">
    <div th:fragment="content">
        <div class="container-1 container-center">
            <form method="post" th:object="${addMemberForm}">
                <div th:replace="~{fragments/forms :: csrfToken}"></div>
                <table>
                    <div th:replace="~{fragments/forms :: rowText(fieldLabel='Имя пользователя', fieldName='username', level=1, icon=@{/img/field_types/str.png})}"></div>

                    <div th:replace="~{fragments/forms :: allErrors(level=1)}"></div>

                    <div th:replace="~{fragments/forms :: formButtons(submitValue='Добавить', level=1)}"></div>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>