<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head(pageTitle='Удалить проект')}"></head>
<body>
<div th:replace="~{base :: bodyBlock(bodyTitle='Удаление проекта', bodyContent=~{:: content})}"></div>
<div th:remove="all">
  <div th:fragment="content">
    <div class="row">
      <div class="cell">
        <a class="btn-action" th:href="@{/projects/details/{username}/{projectName}/(username=${username}, projectName=${project.getName()})}">
          <img th:src="@{/img/editing/back.png}" class="icon">
          <text>Назад</text>
        </a>
      </div>
    </div>
    <h3>Вы действительно хотите удалить проект <big>[[${projectName}]]</big>?</h3>
    <div th:replace="~{fragments/forms :: buttonForm(submitValue='Подтвердить')}"></div>
  </div>
</div>
</body>
</html>