<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head(page_title=${project.getProjectName()})}"></head>
<body>
<div th:replace="~{base :: body_block(body_title=${project.getProjectName()}, body_content=~{:: content})}"></div>
<div th:remove="all">
    <div th:fragment="content">
        <div class="row">
            <div class="container-1 cell">
                <h3>Общая информация</h3>
                <table>
                    <tr>
                        <td>Кол-во участников</td>
                        <td class="info-field-1" th:text="${project.getMembers().size() + 1}"></td>
                    </tr>
                    <tr>
                        <td>Создан</td>
                        <td class="info-field-1" th:text="${#temporals.format(project.getCreated_at(), 'dd MM yyyy HH:mm')}"></td>
                    </tr>
                    <tr>
                        <td>Последнее обновление</td>
                        <td class="info-field-1" th:text="${#temporals.format(project.getLast_update(), 'dd MM yyyy HH:mm')}"></td>
                    </tr>
                    <tr><td colspan="2">Описание</td></tr>
                    <tr><td colspan="2" class="info-field-1" th:text="${project.getDescription()}"></td></tr>
                </table>
            </div>
            <div class="container-1 cell">
                <h3>Допуски</h3>
                <table>
                    <tr>
                        <td>Могут видеть</td>
                        <td class="info-field-1" th:text="${project.getCan_see().getPermissionName()}"></td>
                    </tr>
                    <tr><td colspan="2" class="help-text">Также генерация таблиц и кода</td></tr>
                    <tr>
                        <td>Могут редактировать</td>
                        <td class="info-field-1" th:text="${project.getCan_edit().getPermissionName()}"></td>
                    </tr>
                    <tr>
                        <td>Могут скачивать</td>
                        <td class="info-field-1" th:text="${project.getCan_download().getPermissionName()}"></td>
                    </tr>
                    <tr><td class="help-text" colspan="2">Также экпорт</td></tr>
                </table>
            </div>
        </div>
        <br>
        <a class="btn-action">Настройки</a>
        <a class="btn-action">Удалить</a>
        <a class="btn-action">В рабочую среду</a>
    </div>
</div>
</body>
</html>