<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head(page_title='Новый проект')}"></head>
<body>
<div th:replace="~{base :: body_block(body_title='Новый проект', body_content=~{:: content})}"></div>
<div th:remove="all">
    <div th:fragment="content">
        <div class="row">
            <div class="cell">
                <a class="btn-action" th:href="@{/projects/details/my/{project_name}/(project_name=${project_name})}">
                    <img th:src="@{/img/editing/back.png}" class="icon">
                    <text>Назад</text>
                </a>
            </div>
        </div>
        <br>
        <form method="post" th:object="${form}">
            <div th:replace="~{fragments/forms :: csrf_token}"></div>

            <div class="row">
                <div class="container-1 cell">
                    <h3>Общая информация</h3>
                    <table>
                        <div th:replace="~{fragments/forms :: row_text(field_label='Дружелюбное название', field_name='friendly_name', level=1, help_text=
                    'Отображается вместо рабочего названия', icon=@{/img/field_types/str.png})}"></div>
                        <div th:replace="~{fragments/forms :: col_text(field_label='Описание', field_name='description', level=1, icon=@{/img/field_types/text.png})}"></div>

                        <div th:replace="~{fragments/forms :: all_errors(level=1)}"></div>
                    </table>
                </div>
                <div class="container-1 cell">
                    <h3>Допуск</h3>
                    <table>
                        <div th:replace="~{fragments/forms :: row_select(field_label='Могут видеть', field_name='can_see', level=1, options=${ {
                        {'ALL', 'Любой пользователь'},
                        {'ONLY_MEMBERS', 'Только участники'},
                        {'ONLY_OWNER', 'Только владелец'}
                        } }, help_text='Также дает право на генерацию таблиц и кода')}"></div>

                        <div th:replace="~{fragments/forms :: row_select(field_label='Могут редактировать', field_name='can_see', level=1, options=${ {
                        {'ALL', 'Любой пользователь'},
                        {'ONLY_MEMBERS', 'Только участники'},
                        {'ONLY_OWNER', 'Только владелец'}
                        } })}"></div>

                        <div th:replace="~{fragments/forms :: row_select(field_label='Могут скачивать', field_name='can_see', level=1, options=${ {
                        {'ALL', 'Любой пользователь'},
                        {'ONLY_MEMBERS', 'Только участники'},
                        {'ONLY_OWNER', 'Только владелец'}
                        } }, help_text='Также дает право на экспорт')}"></div>
                    </table>
                </div>
            </div>

            <div th:replace="~{fragments/forms :: form_buttons(submit_value='Сохранить', level=2)}"></div>
        </form>
    </div>
</div>
</body>
</html>