<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head(pageTitle='Новый проект')}"></head>
<body>
<div th:replace="~{base :: bodyBlock(bodyTitle='Новый проект', bodyContent=~{:: content})}"></div>
<div th:remove="all">
    <div th:fragment="content">
        <div class="row">
            <div class="cell">
                <a class="btn-action" th:href="@{/projects/details/my/{projectName}/(projectName=${projectName})}">
                    <img th:src="@{/img/editing/back.png}" class="icon">
                    <text>Назад</text>
                </a>
            </div>
        </div>
        <br>
        <form method="post" th:object="${form}">
            <div th:replace="~{fragments/forms :: csrfToken}"></div>

            <div class="row">
                <div class="container-1 cell">
                    <h3>Общая информация</h3>
                    <table>
                        <div th:replace="~{fragments/forms :: rowText(fieldLabel='Дружелюбное название', fieldName='friendlyName', level=1, helpText=
                    'Отображается вместо рабочего названия', icon=@{/img/field_types/str.png})}"></div>
                        <div th:replace="~{fragments/forms :: colText(fieldLabel='Описание', fieldName='description', level=1, icon=@{/img/field_types/text.png})}"></div>

                        <div th:replace="~{fragments/forms :: allErrors(level=1)}"></div>
                    </table>
                </div>
                <div class="container-1 cell">
                    <h3>Допуск</h3>
                    <table>
                        <div th:replace="~{fragments/forms :: rowSelect(fieldLabel='Могут видеть', fieldName='canSee', level=1, options=${ {
                        {'ALL', 'Любой пользователь'},
                        {'ONLY_MEMBERS', 'Только участники'},
                        {'ONLY_OWNER', 'Только владелец'}
                        } }, helpText='Также дает право на генерацию таблиц и кода')}"></div>

                        <div th:replace="~{fragments/forms :: rowSelect(fieldLabel='Могут редактировать', fieldName='canEdit', level=1, options=${ {
                        {'ALL', 'Любой пользователь'},
                        {'ONLY_MEMBERS', 'Только участники'},
                        {'ONLY_OWNER', 'Только владелец'}
                        } })}"></div>

                        <div th:replace="~{fragments/forms :: rowSelect(fieldLabel='Могут скачивать', fieldName='canDownload', level=1, options=${ {
                        {'ALL', 'Любой пользователь'},
                        {'ONLY_MEMBERS', 'Только участники'},
                        {'ONLY_OWNER', 'Только владелец'}
                        } }, helpText='Также дает право на экспорт')}"></div>
                    </table>
                </div>
            </div>

            <div th:replace="~{fragments/forms :: formButtons(submitValue='Сохранить', level=2)}"></div>
        </form>
    </div>
</div>
</body>
</html>