<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head(pageTitle='Рабочая область')}"></head>
<body>
<div th:replace="~{base :: bodyBlock(bodyTitle='Рабочая область', bodyContent=~{:: content})}"></div>
<div th:remove="all">
  <div th:fragment="content">
    <input id="workspaceGetAllTables" type="hidden" th:value="@{/projects/edit/{username}/{projectName}/table/get/all/(username=${username}, projectName=${projectName})}">

    <form id="workspaceChangeTablePosition" th:object="${formChangeTablePosition}" style="display: none;" th:action="@{/projects/edit/{username}/{projectName}/table/edit/position/(username=${username}, projectName=${projectName})}">
      <div th:replace="~{fragments/forms :: csrfToken}"></div>
      <input th:field="*{x}">
      <input th:field="*{y}">
      <input th:field="*{tableName}">
    </form>

    <div class="row">
      <div class="cell">
        <a class="btn-action" th:href="@{/projects/details/{username}/{projectName}/(username=${username}, projectName=${project.getName()})}">
          <img th:src="@{/img/editing/back.png}" class="icon">
          <text>Назад</text>
        </a>
      </div>
    </div>
    <br>
    <div class="workspace">
      <div class="workspace-frame">
        <div class="workspace-area" style="width: calc(infinity * 1px); height: calc(infinity * 1px);"></div>
      </div>

      <ul class="workspace-menu" menu-target=".workspace-frame">
        <h3 class="header-m-o">Меню</h3>
        <button class="btn-action-on-1" show-dialog="addTableDialog">
          <img th:src="@{/img/editing/add.png}" class="icon">
          <text>Новая сущность</text>
        </button>

        <button class="btn-action-on-1" show-dialog="connectTablesDialog">
          <img th:src="@{/img/constraints/reference.png}" class="icon">
          <text>Связать сущности</text>
        </button>

        <button class="btn-action-on-1">
          <img th:src="@{/img/file_actions/export_import.png}" class="icon">
          <text>Экспорт</text>
        </button>

        <button class="btn-action-on-1">
          <img th:src="@{/img/file_actions/export_import.png}" class="icon">
          <text>Импорт</text>
        </button>

        <button class="btn-action-on-1">
          <img th:src="@{/img/project/code.png}" class="icon">
          <text>Генерировать код</text>
        </button>

        <button class="btn-action-on-1">
          <img th:src="@{/img/project/convert.png}" class="icon">
          <text>Конвертировать</text>
        </button>
      </ul>

      <ul class="workspace-menu" menu-target=".workspace-table">
        <div class="vertical-center">
          <img th:src="@{/img/project/table.png}" class="icon">
          <h3 class="header-m-o">Меню</h3>
        </div>
        <button class="btn-action-on-1" show-dialog="editTableDialog">
          <img th:src="@{/img/editing/edit.png}" class="icon">
          <text>Редактировать</text>
        </button>

        <button class="btn-action-on-1" show-dialog="deleteTableDialog">
          <img th:src="@{/img/editing/delete.png}" class="icon">
          <text>Удалить</text>
        </button>
      </ul>

      <dialog class="container-1 dialog" id="addTableDialog">
        <form method="dialog" th:object="${formCreateTable}" th:action="@{/projects/edit/{username}/{projectName}/table/add/(username=${username}, projectName=${projectName})}">
          <div th:replace="~{fragments/forms :: csrfToken}"></div>

          <h3 class="header-m-o">Новая сущность</h3>
          <table>
            <input th:field="*{position_x}" type="hidden">
            <input th:field="*{position_y}" type="hidden">
            <div th:replace="~{fragments/forms :: rowText(fieldLabel='Название', fieldName='name', level=1, required=true, icon=@{/img/field_types/str.png})}"></div>
            <div th:replace="~{fragments/forms :: rowText(fieldLabel='Дружелюбное название', fieldName='friendlyName', level=1, helpText=
                    'Отображается вместо рабочего названия', icon=@{/img/field_types/str.png})}"></div>
            <div th:replace="~{fragments/forms :: colText(fieldLabel='Описание', fieldName='description', level=1, icon=@{/img/field_types/text.png})}"></div>
          </table>
          <div class="row btn-center">
            <button class="btn-action-on-1 cell">Отмена</button>
            <input class="btn-action-on-1 cell" type="submit" value="Создать">
          </div>
        </form>
      </dialog>

      <dialog class="container-1 dialog" id="connectTablesDialog">
        <form method="dialog">
          <h3 class="header-m-o">Связать сущности</h3>
          <button class="btn-action-on-1">Отмена</button>
        </form>
      </dialog>

      <dialog class="container-1 dialog" id="editTableDialog">
        <h3>Редактировать таблицу</h3>
        <form method="post" th:object="${formEditTable}" th:action="@{/projects/edit/{username}/{projectName}/table/edit/(username=${username}, projectName=${projectName})}">
          <div th:replace="~{fragments/forms :: csrfToken}"></div>

          <table>
            <input type="hidden" th:field="*{tableName}">
            <div th:replace="~{fragments/forms :: rowText(fieldLabel='Дружелюбное название', fieldName='friendlyName', level=1, helpText=
                    'Отображается вместо рабочего названия', icon=@{/img/field_types/str.png})}"></div>
            <div th:replace="~{fragments/forms :: colText(fieldLabel='Описание', fieldName='description', level=1, icon=@{/img/field_types/text.png})}"></div>
          </table>

        </form>
        <div class="row vertical-center">
          <button class="btn-action-on-1 cell">Отмена</button>
          <input class="btn-action-on-1 cell" type="submit" value="Сохранить">
        </div>
      </dialog>

      <dialog class="container-1 dialog" id="deleteTableDialog">
        <h3 class="header-m-o">Вы точно хотите удалить таблицу?</h3>
        <form method="dialog" th:object="${formDeleteTable}" th:action="@{/projects/edit/{username}/{projectName}/table/delete/(username=${username}, projectName=${projectName})}">
          <div th:replace="~{fragments/forms :: csrfToken}"></div>
          <text>Название таблицы:</text>
          <input th:field="*{tableName}" readonly class="info-field-1">
          <div class="row vertical-center">
            <button class="btn-action-on-1 cell">Отмена</button>
            <input class="btn-action-on-1 cell" type="submit" value="Подтвердить">
          </div>
        </form>
      </dialog>

    </div>
  </div>
</div>
</body>
</html>